<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../css/font-awesome.min.css">  
    <link rel="stylesheet" href="../css/main.css"> {{!-- CSS estilos del main --}}
    <title>Contactos del ECC</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <h3>Imagen Delegación</h3>
    </nav>     
    <div class="container">        
        <div class="row" id="principal">
            {{{body}}}
        </div>
    </div>
    <!-- scripts -->
    <script src="./js/jquery-3.4.0.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>